.text-box{
    background-color: white;
    width: 36.6rem;
    border-radius: 2rem;
    padding: 2rem;
    font-size: 1.2rem;
}

.text-box .container{
    border-radius: 1rem;
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    .text-box{
        width: 20.6rem;
    }
}
