.toolbar {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-between;
    z-index: 4;
    margin-bottom: -96px;
    font-size: .5rem;
}

.toolbar>*{
    padding-left: 32px;
    padding-right: 32px;
}

.ambra-logo{
    background-image: url('../Assets/images/new-logo2.webp');
    height: 2rem;
    width: 153px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    font-size: 0.5rem;
}

.ambra-logo  p{
    width: max-content;
    position: absolute;
    bottom: 0;
    left: 21px;
    font-size: calc(13px + 0.2vmin);
}

.menu-indicator-container {
    display: flex;
    align-items: center;
    z-index: 1;
}

.menu-indicator-container label{
    margin-right: 20px;
}

.menu-icon {
    width: 32px;
    height: 32px;
    background-color: #ff1616;
    padding: 4px 4px 4px;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.icon-crea{
    background-image: url('../Assets/images/crea.svg');
}

.rotate-right{
    transform: rotate(135deg);
}

.rotate-left{
    transform: rotate(-45deg);
}

.background-white{
    background-color: white;
}

@media only screen and (max-width: 580px) {
    .toolbar{
        height: 82px;
    }

    .logo-container,.toolbar{
        font-size: 1rem;
    }

    .ambra-logo {
        background-position: left;
    }
}
