.home {
}

.background-container{
    position: absolute;
    z-index: 2;
    width: 100%;
    min-width: 1900px;
    height: calc(237rem + 100vh);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.background{
    background-image: url("../Assets/images/sfondo-desktop.webp");
    background-position: center calc(100vh + 4rem);
    background-repeat: no-repeat;
    background-size: contain;
    /*width: 100%;*/
    width: 68.1rem;
    height: 100%;
}

.start {
    align-items: unset;
    justify-content: unset;
    background-color: #cccccc;
}

.start .title {
    font-size: 2.3rem;
    position: absolute;
    top: 3.5rem;
    left: 4%;
}

.start .image {
    height: 85%;
    width: 42%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.start .img {
    background-image: url("../Assets/images/me-bw.webp");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.block-2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.block-2 .image {
    height: 26.3rem;
    width: 50%;
    bottom: 0;
    right: 0;
    margin-top: 5rem;
    margin-bottom: 15rem;
}

.block-2 .img {
    /*background-image: url("../Assets/images/me-child.webp");*/
    /*background-position: right bottom;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    width: 100%;
    height: 100%;
}

.block-2 .text {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.block-2 .text p {
    width: 90%;
    font-size: 1.9rem;
    line-height: 2.4rem;
}

.block-3 {
    position: relative;
    background-color: #cccccc;
    padding-top: 10px;
    margin-top: -10px;
    padding-bottom: 19.5rem;
}

.block-3 .image {
    height: 59.6rem;
}

.block-3 .img {
    /*background-image: url("../Assets/images/sfondo-3.png");*/
    /*background-position: center bottom;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 47.5rem;*/
    margin-left: -4rem;
    width: 100%;
    height: 100%;
}

.block-3 .box-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-3 .box-container .text-box:first-child {
    margin-top: 8.9rem;
    margin-left: 14rem;
}

.block-3 .box-container .text-box:last-child {
    margin-top: 21.9rem;
    margin-left: -9rem;
}

.block-4 {
    /*background-image: url("../Assets/images/6.webp");*/
    /*background-position: 4.9rem top;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    display: flex;
    flex-direction: column;
    height: 75rem;
    align-items: center;
}

.block-4 .container-1 {
    width: 35rem;
    height: 27rem;
    margin-top: 3.4rem;
    margin-left: -25rem;
    font-size: 1.2rem;
}

.block-4 .container-2 {
    margin-left: 32rem;
    width: 27rem;
    height: 20rem;
    margin-top: 14rem;
    font-size: 1.2rem;
}

.block-5 {
    height: 80rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.block-5 .box-container {
    padding-top: 3.2rem;
    position: relative;
    z-index: 2;
    /*margin-left: 8rem;*/
}

.block-5 .text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
    font-size: 1.2rem;
}

.block-5 .text-container p{
    width: 38rem;
}

.block-5 .text-container-2{
    background-image: url("../Assets/images/10.webp");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100vw;
    margin-top: 7rem;
    position: relative;
}

.block-5 .text-container-2 p{
    width: 45rem;
    padding: 2rem;
    font-size: 1.2rem;
    position: absolute;
    top: 21rem;
    left: 9%;
}

.block-6{
    height: 70rem;
}

.block-6 .box-container .postCard .img{
    background-image: url("../Assets/images/11.webp");
}

.block-6 .box-container{
    padding-top: 10rem;
    margin-left: calc(100vw - 39rem);
}

.block-6 .box-container-2 p{
    width: 40rem;
    font-size: 1.2rem;
}

.block-6 .box-container-2{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    position: relative;
}

.block-6 .box-container-2 .img{
    background-image: url("../Assets/images/12.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 21rem;
    width: 8rem;
    position: absolute;
    top: -12rem;
    left: 13%;
}

.block-7{
    height: 65rem;
    position: relative;
    overflow: hidden;
}

.block-7 .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.block-7 .box-container p{
    width: 40rem;
    font-size: 1.2rem;
}

.block-7 > .img{
    position: absolute;
    background-image: url("../Assets/images/13.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    height: 12rem;
    width: 40rem;
    top: 18rem;
}

.block-7 .box-container-2{
    height: 34rem;
    padding-top: 8rem;
}

.block-7 .postCard{
    margin-left: calc(100vw - 36rem);
}

.block-7 .postCard .img{
    background-image: url("../Assets/images/14.webp");
}

.block-8{
    height: 40rem;
}

.block-8 .box-container{
    background-image: url("../Assets/images/15.webp");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 51rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block-8 .box-container > p{
    width: 45rem;
    font-size: 1.2rem;
    margin-top: 8rem;
}

.block-8 .img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.block-8 .btn{
    padding: 3rem;
    border-radius: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-top: 7rem;
}

.block-8 .box-container-2{
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-8 .box-container-2 .container{
    height: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.block-8 .ig .img{
    background-image: url("../Assets/images/16.webp");
}
.block-8 .yt .img{
    background-image: url("../Assets/images/17.webp");
}
.block-8 .tg .img{
    background-image: url("../Assets/images/18.webp");
}

@media only screen and (max-width: 1900px) {

    .background-container {
        min-width: unset;
    }
}

@media only screen and (max-width: 768px) {

    .background{
        background-image: url("../Assets/images/19.webp");
        background-position: center calc(100vh + 54rem);
        background-size: 25rem;
    }

    .background-2{
        background-image: url("../Assets/images/20.webp");
        background-position: 20rem calc(100vh + 111rem);
        background-repeat: no-repeat;
        background-size: 30rem;
        width: 68.1rem;
        height: 100%;
        margin-top: calc(-1*(100vh + 100rem));
    }

    .background-container{
        min-width: unset;
        height: calc(260rem + 100vh);
    }

    .hide-on-mobile {
        display: none;
    }

    .start {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }

    .start .title, .start .image {
        position: relative;
        top: unset;
        left: unset;
        right: unset;
    }

    .start .title {
        font-size: 2rem;
        margin-top: 5rem;
    }

    .start .image {
        height: 50vh;
        width: 90%;
    }

    .start .img {
        background-position: center bottom;
    }

    .block-2 {
        flex-direction: column;
        height: 54rem;
    }

    .block-2 .image {
        height: 26rem;
        width: 100%;
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 3rem;
    }

    .block-2 .img{
        background-image: url("../Assets/images/me-child.webp");
        background-position: 1rem bottom;
        background-repeat: no-repeat;
        background-size: contain;
        width: 22rem;
    }

    .block-2 .text {
        width: 90%;
        margin-bottom: 5rem;
    }

    .block-2 .text p {
        width: 100%;
        font-size: 1.6rem;
        line-height: 2.3rem;
    }

    .block-3 {
        background-color: #d9d9d9;
        padding-top: 0px;
        margin-top: 0px;
        padding-bottom: 4.5rem;
        height: 78rem;
    }

    .block-3 .box-container {
        position: relative;
    }

    .block-3 .box-container .text-box:first-child {
        margin-left: unset;
        margin-bottom: 10rem;
        margin-top: 11rem;
        height: 20.5rem;
    }

    .block-3 .box-container .text-box:first-child .container {
        height: 18.5rem;
    }

    .block-3 .box-container .text-box:last-child {
        margin-left: unset;
        margin-bottom: 7.3rem;
        margin-top: 1.6rem;
        height: 21.5rem;
    }

    .block-3 .box-container .text-box:last-child .container {
        padding-top: 1.5rem;
        padding-bottom: 1.6rem;
        height: 18.5rem;
    }

    .block-3 .box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-box {
        width: 15rem;
        font-size: 1rem;
        padding: 1.5rem;
    }

    .block-3 .image {
        position: absolute;
        height: 83rem;
        top: 0;
        width: 100%;
        overflow: hidden;
    }

    block-3 .img {
    /*    background-image: url("../Assets/images/3.webp");*/
    /*    background-position: top;*/
    /*    background-repeat: no-repeat;*/
    /*    background-size: 100%;*/
        margin-left: unset;
        width: 100%;
        height: 50%;
        margin-bottom: -2rem;
        position: relative;
    }


    .block-3 .img-2 {
        /*background-image: url("../Assets/images/5.webp");*/
        /*background-position: top;*/
        /*background-repeat: no-repeat;*/
        /*background-size: 100%;*/
        margin-left: 2.9rem;
        width: 100%;
        height: calc(50% + 2rem);

    }

    .block-4 {
        background-image: unset;
        display: flex;
        flex-direction: column;
        height: 119rem;
        background-color: unset !important;
    }

    .block-4 .container-1,
    .block-4 .container-2{
        width: 100%;
        margin-left: unset;
    }

    .block-4 .container-1{
        /*background-image: url("../Assets/images/7.webp");*/
        /*background-position: -3.7rem -8.3rem;*/
        /*background-repeat: no-repeat;*/
        /*background-size: 31.3rem;*/
        width: 100%;
        padding-top: 32rem;
        margin-top: unset;
        display: flex;
        justify-content: center;
        font-size: 1rem;
    }

    .block-4 .container-1>div{
        width: 90%;
    }

    .block-4 .container-2>div {
        width: 78%;
    }

    .block-4 .container-2{
        /*background-image: url("../Assets/images/8.webp");*/
        /*background-position: -3.7rem 0rem;*/
        /*background-repeat: no-repeat;*/
        /*background-size: 31.3rem;*/
        width: 100%;
        padding-top: 8rem;
        margin-top: 32rem;
        display: flex;
        justify-content: center;
        background-color: #cccccc;
        font-size: 1rem;
    }

    .block-5 {
        height: 67rem;
    }

    .block-5 .box-container {
        padding-top: 0;
    }

    .block-5 .text-container p {
        width: 20rem;
    }

    .block-5 .text-container {
        margin-top: 5rem;
    }

    .block-5 .text-container-2 {
        margin-top: 2rem;
    }

    .block-5 .text-container-2 p {
        width: 15rem;
        top: 10rem;
        left: calc(50% - 9.5rem);
        font-size: 1rem;
    }

    .block-6 {
        height: 65rem;
    }

    .block-6 .box-container {
        padding-top: 10rem;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .block-6 .box-container-2 p {
        width: 17rem;
        font-size: 1rem;
    }

    .block-6 .box-container-2 .img {
        height: 16rem;
        width: 8rem;
        top: -8rem;
        left: -2%;
    }

    .block-7 {
        height: 61rem;
    }

    .block-7 .box-container p {
        width: 20rem;
        font-size: 1rem;
    }

    .block-7 > .img {
        background-position: left;
        left: 0;
        height: 9rem;
        width: 23rem;
        top: 20rem;
    }

    .block-7 .box-container {
        padding-bottom: 3rem;
    }

    .block-7 .postCard {
        margin-left: 0;
    }

    .block-7 .box-container-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2rem;
    }

    .block-8 .box-container > p {
        width: 20rem;
        font-size: 1rem;
        margin-top: 5rem;
    }

    .block-8 .btn {
        margin-top: 3rem;
    }

    .block-8 .box-container {
        height: 38rem;
    }

    .block-8 .box-container-2 {
        height: 10rem;
    }


}

@media only screen and (min-width: 769px) {
    .hide-on-desktop {
        display: none;
    }
}


